In [2]:
import re

import pandas as pd

In [3]:
dictionary_path = '/mnt/d/Projects/masters-thesis/data/loanwords_dictionary.txt'
all_words_path = '/mnt/d/Projects/masters-thesis/data/words.csv'

pattern = r"([а-яА-Я]*) \(.*?([а-яА-Я]*)\..*\)"
matcher = re.compile(pattern)

In [4]:
with open(dictionary_path, 'r') as fp:
    contents = fp.readlines()

In [32]:
loanwords = set((result.group(1), result.group(2)) for line in contents if (result := matcher.match(line)) if result is not None)
loanwords = pd.DataFrame(loanwords, columns=['дума', 'произход'])

In [33]:
languages = {
    'лат': 'la',
    'гр': 'el',
    'фр': 'fr',
    'тур': 'tr',
    'нем': 'de',
    'англ': 'en',
    'ит': 'it',
    'рус': 'ru',
    'исп': 'es',
    'хол': 'du',
    'евр': 'he',
}

In [34]:
loanwords['произход'] = loanwords['произход'].apply(lambda x: languages[x] if x in languages else '?')

In [35]:
loanwords['произход'].value_counts()

la    2968
el    2541
fr    1923
?     1289
tr     989
de     554
en     405
it     335
ru     174
es      79
du      75
he      37
Name: произход, dtype: int64

In [36]:
loanwords = loanwords[loanwords['произход'] != '?']

In [37]:
loanwords['произход'].value_counts()

la    2968
el    2541
fr    1923
tr     989
de     554
en     405
it     335
ru     174
es      79
du      75
he      37
Name: произход, dtype: int64

In [38]:
df = pd.read_csv(all_words_path, header=None, names=['word', 'transcription'])
words = set(df['word'])

In [43]:
loanwords

                дума произход
0             чалтък       tr
2            хулиган       en
3           тинктура       la
4          литургика       el
5      ферментатйвен       la
...              ...      ...
11364      катехйзис       el
11365        скептик       el
11366      полибазит       el
11367        муселин       fr
11368            тен       fr

[10080 rows x 2 columns]

In [42]:
loanwords[loanwords['дума'].isin(words)]

             дума произход
2         хулиган       en
3        тинктура       la
9         критика       el
11     етатизация       fr
15            мит       el
...           ...      ...
11360    ламарина       it
11363        друм       el
11365     скептик       el
11367     муселин       fr
11368         тен       fr

[4694 rows x 2 columns]

In [45]:
loanwords_2 = pd.read_csv('/mnt/d/Projects/masters-thesis/data/loanwords.csv')
loanwords_2

               дума произход
0          коректен       la
1             кукис        -
2           болдвам       en
3               тъч        -
4           локация       fr
..              ...      ...
518          сензор       en
519    културтрегер       de
520         енергия       en
521  роуст/роуствам       en
522             дип       en

[523 rows x 2 columns]

In [47]:
loanwords = pd.concat([loanwords, loanwords_2])
loanwords.to_csv('/mnt/d/Projects/masters-thesis/data/loanwords.csv', index=False)