In [1]:
import re

import pandas as pd

In [2]:
dictionary_path = '/mnt/d/Projects/masters-thesis/data/loanwords_dictionary.txt'
all_words_path = '/mnt/d/Projects/masters-thesis/data/words.csv'

pattern = r"([а-яА-Я]*) \(.*?([а-яА-Я]*)\..*\)"
matcher = re.compile(pattern)

In [3]:
with open(dictionary_path, 'r') as fp:
    contents = fp.readlines()

In [4]:
len(contents)

122392

In [5]:
loanwords = set((result.group(1), result.group(2)) for line in contents if (result := matcher.match(line)) if result is not None)
loanwords = pd.DataFrame(loanwords, columns=['дума', 'произход'])

In [6]:
loanwords.shape

(11369, 2)

In [7]:
languages = {
    'лат': 'la',
    'гр': 'el',
    'фр': 'fr',
    'тур': 'tr',
    'нем': 'de',
    'англ': 'en',
    'ит': 'it',
    'рус': 'ru',
    'исп': 'es',
    'хол': 'du',
    'евр': 'he',
}

In [8]:
loanwords['произход'] = loanwords['произход'].apply(lambda x: languages[x] if x in languages else '?')

In [9]:
loanwords['произход'].value_counts()

la    2968
el    2541
fr    1923
?     1289
tr     989
de     554
en     405
it     335
ru     174
es      79
du      75
he      37
Name: произход, dtype: int64

In [10]:
loanwords = loanwords[loanwords['произход'] != '?']

In [11]:
loanwords['произход'].value_counts()

la    2968
el    2541
fr    1923
tr     989
de     554
en     405
it     335
ru     174
es      79
du      75
he      37
Name: произход, dtype: int64

In [12]:
df = pd.read_csv(all_words_path, header=None, names=['word', 'transcription'])
words = set(df['word'])

In [13]:
loanwords = loanwords[loanwords['дума'].isin(words)]
loanwords

            дума произход
2        кабинет       fr
3         шницел       de
6      радикулит       la
8           ламе       fr
9          нафта       el
...          ...      ...
11355    актиния       la
11357  далматика       la
11359  мегалоцит       el
11365   интарзия       it
11367     харпун       du

[4694 rows x 2 columns]

In [14]:
loanwords.to_csv('/mnt/d/Projects/masters-thesis/data/loanwords_dictionary_processed.csv')

In [15]:
loanwords_2 = pd.read_csv('/mnt/d/Projects/masters-thesis/data/loanwords_4uzhdica_processed.csv')
loanwords_2

               дума произход
0          коректен       la
1             кукис      NaN
2           болдвам       en
3               тъч      NaN
4           локация       fr
..              ...      ...
518          сензор       en
519    културтрегер       de
520         енергия       en
521  роуст/роуствам       en
522             дип       en

[523 rows x 2 columns]

In [16]:
loanwords = pd.concat([loanwords, loanwords_2])
loanwords = loanwords.dropna()
loanwords.shape

(5169, 2)

In [17]:
loanwords.to_csv('/mnt/d/Projects/masters-thesis/data/loanwords_only.csv', index=False)